.titulo{
    text-align: center;
}

p.parrafo{
    font-family: serif;
    
}

#primer-parrafo{
    color: #cee;

}

#primer-parrafo em {    
    color: #933;
}

a{
    outline: 1px solid #333 !important 
}

body p.fuente.parrafo:last-of-type{
    opacity: 100%;
}


body p.fuente.parrafo:last-of-type{
    color: #000 !important;
}

.complicado{
    color: #C62 !important;
}